Q1 what are data structure and why they importand?
-> data stucture are organize way of storing imformation or data in a managing way for use efficiently
   -it halps to program run fast and less memmory reqires

Q2 expain the difference between mutable and immutable data type with example
-> mutable means value can be changed after the object created
   ex list
 - immutable means the value can not be changes after once object created
   ex-tuple, string

Q3 what are the difference between list and tuple
-> list- are mutable data cannot be changed once created
   tuple-are immutable data canot be changed once created

Q4 Describe how dictionary store data
-> dictionary store data in form of key vlue pairs
   also stores data in hash table

Q5 why might you use set instead of lise in python
-> set automatic removes duplicetes if you add value twice it stores once
   advanage of finding dupliceted vlues and also mathematical operationa can perform on set

Q6 what is string in python and how is different from list
-> string- is a ordered sequence of character used to represenet text, no, symbols
   ans string is immutable
   list-is collection of items of different data type like float, name boolian,no any type
   and it is mutable

Q7 how do tuples ensure data integrity in python
-> tuples do data integrity because they can not changed after creation because their contain not modified
  touple prevent accidental changes 

Q8 what is hash table and how does it relate to dictionary in python 
 -> a hash table is s data structure that stores a key value pairs 
  -pyrhons built in dict implement internally using hash table

Q9 can lists contain different data types in python
-> yes, python lists can contain different data type 
  pythons list are heterogeneos means you can store any types in a lists

Q10 explain why string are immutable in python
 -> because it reduces memory usage ans speed up comparison
    store them in optimized memory layout 
    ane for reuse of identical string as object

Q11 what are advantages of dictionary offer over lists for certain task
  ->dictionary avoiding duplicates
   -you can select string, no, and tuple as key 
   -each dictionary entry links key to a value
   -accessing a value by key is very fast as compares to lists

Q12 describe a scenario where using a tuple would be preffered over a list
 ->when you want to database as keys tuple are used as keys
  usin as keys as tuple
  -where list no used as key for dictionary

Q13 how sets handle duplicated values
->if you try to add a value that alreasy exist in the set python simply ignore it and not raise error
  set are unordered and unique collection of element
  set ignore duplicates values

Q14 how the in keyword works differently for lists and dictionaries in python
-> list in -- python checks whether a value exists in the list by searching throught each 
   element one by one 
   dictionary in --python checks whether a key exists in the dictionary not the value 

Q15 you can modify the content of a tuple and why or why not 
 -> no, you can not modify tuple once created tuples are immutable\
  tuple are immutable for safety,hashable, performance

Q16 what is nestes dictionary and give an example of its use case
->a nested dictionary is a dictionary in python where one or more of the vlues are themself
  usecase-- nested dictionaty are useful for storing structured data for instance in a school system

Q17 desribe the time compexity for acessing element in dictionary
-> python computes the hash of the keys then directly goes to the memory slot where the value is 
  stored this lookup does not depend on the size of the dictionart so it id considere as constant time
  accesing to keys is very fast and not depend on size of dictionary

Q18 in what situation list are preferred ober a dictionary 
 -> when order matters and keys are not important 
    when data is small 
    you need to maintain duplicated values then lists are preffered over dictionary

Q19 why are dictionary considered unordered and hoe does that affect data retrival
 -> hash does not preserve insertion order it optimize for fast lookup and not sequence
   retrival by key is still regardless of order 
   order sensitive operations like slicing are still not supportes for dictionary

Q20 expain the difference berween a lise and a dictionary in term or data retrieval
 -> list-access by index element should be numeric 
       -time complexity accessing element by no is fast 
    dictionary- access by key retrival elment using a key not position 
    - time complexity accessing a value by key is average because of hash table

In [11]:
# Q1  write a code to creat a string with your name and print it
name = "dnyaneshwar"
print(name)

dnyaneshwar

In [12]:
#Q2 write a program to find the length of string hello world
word = "hello world"
len(word)

11

In [14]:
#Q3 wirte a code to slice the first 3 character from srting  "python programing"
word = "python programing"
word[0:3]

'pyt'

In [16]:
# Q4write a cose to convert the string "hello" to uppercase
word = "hello"
word.upper()

'HELLO'

In [ ]:
#Q 5write a code to replace the word apple orange in the string i like apple
word = "i like apple"
word.replace("apple", "orange")

'i like orange'

In [19]:
#Q6 Write a code to creat a list with no 1 to 5 and print it
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

In [24]:
#Q7write a code to append the no 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [25]:
#Q8 Write s code to remove tht no 3 from the list [1, 2, 3, 4, 5]
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [26]:
#Q9 Write a code to access the second element in the list[a b c d ]
l = ['a', 'b','c', 'd']
l[1]

'b'

In [28]:
#Q10 Write a code to reverse the list[10, 20, 30, 40]
l = [10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

In [2]:
#Q 11 write a code to create a tuple with the element 100, 200, and 300 and print it
t = (100, 200, 300)
print(t)
type(t)

(100, 200, 300)

tuple

In [3]:
#Q 12 Write a code to access the second to last element of tuple (red green blue yellow )
t = ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [18]:
#Q13 write a code to find minimum no in tuple(10 20 5 15)
t = (10, 20, 5, 15)
min(t)

5

In [ ]:
#Q14 write a code to fing the index of the element cat in tuple (dog cat rabbit)
t = ('cat', 'dog', 'rabbit')
t.index

In [20]:
#Q15 write a code to create a tuple containing three different fruit and check kiwi is in it 
t = ('orange', 'mango', 'kiwi')
if 'kiwi' in t:
    print('yes')
else:
    print("no")

yes

In [22]:
#Q16 write a code to creat a set with element a b c abd print it 
s = {'a', 'b','c'}
print(s)
type(s)

{'a', 'b', 'c'}

set

In [24]:
#Q17 write a code to clear all element from from {1 2 3 4 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [26]:
#Q18 write a code to remove the the element 4 from from the set{1 2 3 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [27]:
#Q19 write a code to find the union of two set{1 2 3} and {3 4 5}
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)

{1, 2, 3, 4, 5}

In [28]:
#Q20 write a code to find the intersection of two sets {1 2 3}and {2 3 4 }
a = {1, 2, 3}
b = {2, 3, 4}
a.intersection(b)

{2, 3}

In [30]:
#Q21 swrite a code create a dictionary with the 'name' age and city and print it
d = {'name':"dnyaneshwar", 'age':"20", 'city':"nagpur"}
print(d)

{'name': 'dnyaneshwar', 'age': '20', 'city': 'nagpur'}

In [61]:
#Q22 write a code to add a new key value paoe country usa to ditionary[name:john , age:25]
d = {'name':'john', 'age':'25'}
d['country'] ='usa'
print(d)

{'name': 'john', 'age': '25', 'country': 'usa'}

In [65]:
#Q23 write a code to access the valeue asslcoate with the key name in dictionary[name:alice, age:30]
d = {'name':'alice', 'age':'30'}
d['name']

'alice'

In [72]:
#Q24 write a code to remove key age from dictionary{namea:bob, age:22, city:new york}
d = {'name':'Bob', 'age':'22', 'city':'new york'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'new york'}

In [73]:
#Q25 Write code to checks if the key city exists in the dictionary{nane:alice city:paris}
d = {'name':'alice', 'city':'paris'}
if 'city' in d:
    print("yes")
else:
    print("no")

yes

In [75]:
#Q26 Write a code to create a lise a tuple and dictionary print them all
l = [3, 4, True, 5.5]
t = (3.4, 5, 'ajay')
d = {'name':'ajay', 'city':'paris'}
print(l)
print(t)
print(d)

[3, 4, True, 5.5]
(3.4, 5, 'ajay')
{'name': 'ajay', 'city': 'paris'}

In [78]:
#Q27 write a code to create a list of 5 random no between 1 to 100 sort in ascending order and print theresut
l = [67, 45, 90, 41, 89]
l.sort()
print(l)

[41, 45, 67, 89, 90]

In [9]:
#Q28 write a code to create a list with string and print the element of the third index
l = ['ajay', 'vijay', 'sanjay', 'vivek','manoj']
l[3]

'vivek'

In [16]:
#Q29 write a code to combine two dictionary into one and print the result
d1 = {'1':'one', '2':'two'}
d2 = {'3':'three', '4':'four'}
d1.update(d2)
print(d1)

{'1': 'one', '2': 'two', '3': 'three', '4': 'four'}

In [18]:
#Q30 write a code to convert a list of string into a set
l = ['ajay', 'sanjay', 'manoj']
s = set(l)
print(s)

{'manoj', 'ajay', 'sanjay'}